<main id="header-main">
    <h1>Actions</h1>
</main>

<main id="main">

    <header id="main-header">
        <nav class="tabs underlined">
             <div role="tablist" aria-label="CSS Action Component Examples"  data-signals-selectedTab="button">

                 <button id="button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'button' ? '0' : '-1'"
                     data-on-click="@get('/partials/actions/button');  $currentTab = 'button'"
                 >
                    Button
                 </button>
                 <button id="button-group" role="tab"
                     data-attr-aria-selected = "$currentTab === 'button-group' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'button-group' ? '0' : '-1'"
                     data-on-click="@get('/partials/actions_button_group');  $currentTab = 'button_group'"
                 >
                    Button Group
                 </button>
                 <button id="icon-button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'icon-button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'icon-button' ? '0' : '-1'"
                     data-on-click="@get('/partials/actions_icon_button');  $currentTab = 'icon-button'"
                 >
                    Icon Button
                 </button>
             </div>
        </nav>
    </header>

    <nav id="main-nav"></nav>
    <main   id="main-main"> </main>
    <aside  id="main-aside"> </aside>
    <footer id="main-footer"></footer>
</main>
