<main id="main">
    <header id="main-header">
        <div class="--split">
            <hgroup>
                <p>Actions</p>
                <h2 class="h3">Tabs</h2>
            </hgroup>
            <nav class="tabs underlined">
                <div role="tablist" aria-label="Underlined tabs">
                    <button id="underlined-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="false" tabindex="0"
                        data-on-click="@get('partials/actions_tabs_underlined')">
                    Underlined
                    </button>
                    <button id="underlined-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1"
                        data-on-click="@get('partials/actions_tabs_filled')">
                    Filled
                    </button>
                </div>
            </nav>
        </div>
    </header>


    <main id="main-main">
        <progress></progress>
    </main>

    <footer id="main-footer" class="--flank:end">
        <div></div>
        <small class="--flank:end">https://deufel.github.io/css/tabs</small>
    </footer>

</main>
