

<div class="card elevated">
    <hgroup>
        <p>Actions</p>
        <h2 class="h3">Tabs: underlined</h2>
        <p><a href="https://open-props-ui.netlify.app/components/actions/tab-buttons.html">Docs</a></p>
    </hgroup>
    <div class="content margin">
        <nav class="tabs underlined">
          <div role="tablist" aria-label="Underlined tabs">
            <button id="underlined-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="true" tabindex="0">
              Profile
            </button>
            <button id="underlined-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1">
              Settings
            </button>
            <button id="underlined-tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="-1">
              Notifications
            </button>
          </div>
        </nav>
    </div>
    <div class="actions">
        <details class="card">
          <summary id="summary-id" aria-controls="content-id">View Code</summary>
          <div id="content-id" class="content" role="region" aria-labelledby="summary-id" >
            <pre><code class="language-html">
&lt;nav class=&quot;tabs underlined&quot;&gt;
    &lt;div role=&quot;tablist&quot; aria-label=&quot;Underlined tabs&quot;&gt;
    &lt;button id=&quot;underlined-tab-1&quot; role=&quot;tab&quot; aria-controls=&quot;tabpanel-1&quot; aria-selected=&quot;true&quot; tabindex=&quot;0&quot;&gt;
        Profile
    &lt;/button&gt;
    &lt;button id=&quot;underlined-tab-2&quot; role=&quot;tab&quot; aria-controls=&quot;tabpanel-2&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot;&gt;
        Settings
    &lt;/button&gt;
    &lt;button id=&quot;underlined-tab-3&quot; role=&quot;tab&quot; aria-controls=&quot;tabpanel-3&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot;&gt;
        Notifications
    &lt;/button&gt;
    &lt;/div&gt;
&lt;/nav&gt;
            </code></pre>
          </div>
        </details>
    </div>
</div>


<div class="card elevated">
    <hgroup>
        <p>Actions</p>
        <h2 class="h3">Tabs: filled</h2>
        <p><a href="https://open-props-ui.netlify.app/components/actions/tab-buttons.html">Docs</a></p>
    </hgroup>
    <div class="content margin">
        <nav class="tabs filled">
          <div role="tablist" aria-label="Filled tabs">
            <button id="filled-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="true" tabindex="0" >
              Korg
            </button>
            <button id="filled-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1" >
              Yamaha
            </button>
            <button id="filled-tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="-1" >
              Roland
            </button>
          </div>
        </nav>
    </div>
    <div class="actions">
        <details class="card">
          <summary id="summary-id" aria-controls="content-id">View Code</summary>
          <div id="content-id" class="content" role="region" aria-labelledby="summary-id" >
            <pre><code class="language-html">
&lt;nav class=&quot;tabs filled&quot;&gt;
    &lt;div role=&quot;tablist&quot; aria-label=&quot;Filled tabs&quot;&gt;
    &lt;button id=&quot;filled-tab-1&quot; role=&quot;tab&quot; aria-controls=&quot;tabpanel-1&quot; aria-selected=&quot;true&quot; tabindex=&quot;0&quot; &gt;
        Korg
    &lt;/button&gt;
    &lt;button id=&quot;filled-tab-2&quot; role=&quot;tab&quot; aria-controls=&quot;tabpanel-2&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; &gt;
        Yamaha
    &lt;/button&gt;
    &lt;button id=&quot;filled-tab-3&quot; role=&quot;tab&quot; aria-controls=&quot;tabpanel-3&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; &gt;
        Roland
    &lt;/button&gt;
    &lt;/div&gt;
&lt;/nav&gt;
            </code></pre>
          </div>
        </details>
    </div>
</div>




<script> hljs.highlightAll();</script>
