 <main id="main">
    <main id="main-main">
        <nav class="tabs filled">
            <div role="tablist" aria-label="Filled tabs">
                <button id="filled-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="true" tabindex="0" >
                Korg
                </button>
                <button id="filled-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1" >
                Yamaha
                </button>
                <button id="filled-tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="-1" >
                Roland
                </button>
            </div>
        </nav>
    </main>
</main>
