
<header>
    <hgroup>
        <p>Actions</p>
        <h2 class="h3">Tabs: underlined</h2>
        <p><a href="https://open-props-ui.netlify.app/components/actions/tab-buttons.html">Docs</a></p>
    </hgroup>
</header>
<main class="--stack">

    <div class="card elevated">
        <div class="content margin">
            <nav class="tabs underlined">
              <div role="tablist" aria-label="Underlined tabs">
                <button id="underlined-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="true" tabindex="0">
                  Profile
                </button>
                <button id="underlined-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1">
                  Settings
                </button>
                <button id="underlined-tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="-1">
                  Notifications
                </button>
              </div>
            </nav>
        </div>
    </div>


    <div class="card elevated">
        <hgroup>
            <p>Actions</p>
            <h2 class="h3">Tabs: filled</h2>
            <p><a href="https://open-props-ui.netlify.app/components/actions/tab-buttons.html">Docs</a></p>
        </hgroup>
        <div class="content margin">
            <nav class="tabs filled">
              <div role="tablist" aria-label="Filled tabs">
                <button id="filled-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="true" tabindex="0" >
                  Korg
                </button>
                <button id="filled-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1" >
                  Yamaha
                </button>
                <button id="filled-tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="-1" >
                  Roland
                </button>
              </div>
            </nav>
        </div>
    </div>
</main>
