<main id="header-main">
    <h1>Actions</h1>
</main>

<main id="main">

    <header id="main-header">
        <nav class="tabs underlined">
             <div role="tablist" aria-label="tabs"  data-signals-selected-tab="button">
                 <button id="button" role="tab" aria-controls="tabpanel-1" aria-selected="true" tabindex="0"
                     data-on-click="@get('/examples/lazy_tabs/2')"
                 >
                 Button
                 </button>
                 <button id="underlined-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1">
                 Button Group
                 </button>
                 <button id="underlined-tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="-1">
                 Icon Button
                 </button>
                 <button id="underlined-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="fase" tabindex="-1">
                 Toggle Button
                 </button>
                 <button id="underlined-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1">
                 Tabs
                 </button>

             </div>
        </nav>
    </header>

    <nav id="main-nav"></nav>
    <main   id="main-main"> </main>
    <aside  id="main-aside"> </aside>
    <footer id="main-footer"></footer>
</main>
