<aside id="aside" data-attr-popover="$windowWidth < 640 ? 'auto' : null" >

    <div class="flow">

        <div><label class="switch"> 0_reset        <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_0_reset') : @get('partials/head/css_0_reset_blank')" /> </label> </div>
        <div><label class="switch"> 1_tokens       <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_1_tokens') : @get('partials/head/css_1_tokens_blank')" /> </label> </div>
        <div><label class="switch"> 2_colors       <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_2_colors') : @get('partials/head/css_2_colors_blank')" /> </label></div>
        <div><label class="switch"> 3_theme        <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_3_theme') : @get('partials/head/css_3_theme_blank')" /> </label></div>
        <div><label class="switch"> 4_base         <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_4_base') : @get('partials/head/css_4_base_blank')" /> </label></div>
        <div><label class="switch"> 5_layout       <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_5_layout') : @get('partials/head/css_5_layout_blank')" /> </label></div>
        <div><label class="switch"> 6_compositions <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_6_compositions') : @get('partials/head/css_6_compositions_blank')" /> </label></div>
        <div><label class="switch"> 7_utilities    <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_7_utilities') : @get('partials/head/css_7_utilities_blank')" /> </label></div>
        <div><label class="switch"> 8_components   <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_8_components') : @get('partials/head/css_8_components_blank')" /> </label></div>
        <div><label class="switch"> 9_exceptions   <input type="checkbox" role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_9_exceptions') : @get('partials/head/css_9_exceptions_blank')" /> </label></div>

    </div>

</aside>
