
<main id="main">

    <header id="main-header">
        <nav class="tabs underlined">
             <div role="tablist" aria-label="CSS Action Component Examples"  data-signals-currentTab="null">

                 <button id="button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'button' ? '0' : '-1'"
                     data-on-click = "@get('partials/B_button');  $currentTab = 'button'"
                     data-on-load__once  = "@get('partials/B_button');  $currentTab = 'button'"
                 >
                    Button
                 </button>
                 <button id="button-group" role="tab"
                     data-attr-aria-selected = "$currentTab === 'button-group' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'button-group' ? '0' : '-1'"
                     data-on-click="@get('partials/B_buttonGroup');  $currentTab = 'button-group'"
                 >
                    Button Group
                 </button>
                 <button id="icon-button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'icon-button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'icon-button' ? '0' : '-1'"
                     data-on-click="@get('partials/B_iconButton.html');  $currentTab = 'icon-button'"
                 >
                    Icon Button
                 </button>
                 <button id="toggle-button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'toggle-button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'toggle-button' ? '0' : '-1'"
                     data-on-click="@get('partials/B_toggleButton.html');  $currentTab = 'toggle-button'"
                 >
                    Toggle Button
                 </button>
             </div>
        </nav>
    </header>

    <nav    id="main-nav"></nav>
    <main   id="main-main"> </main>
    <aside  id="main-aside"> </aside>
    <footer id="main-footer"></footer>
</main>
