<main id="header-main">
    <h3>Actions: Buttons</h3>
</main>

<main id="main">

    <header id="main-header">
        <nav class="tabs underlined">
             <div role="tablist" aria-label="CSS Action Component Examples"  data-signals-selectedTab="null">

                 <button id="button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'button' ? '0' : '-1'"
                     data-on-click = "@get('/partials/actions/button');  $currentTab = 'button'"
                     data-on-load__once  = "@get('/partials/actions/button');  $currentTab = 'button'"
                 >
                    Button
                 </button>
                 <button id="button-group" role="tab"
                     data-attr-aria-selected = "$currentTab === 'button-group' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'button-group' ? '0' : '-1'"
                     data-on-click="@get('/partials/actions_button_group');  $currentTab = 'button-group'"
                     data-on-keydown="
                                 if (document.activeElement !== el) return;
                                 if (evt.key === 'ArrowRight') @get('/partials/actions_icon_button');
                                 if (evt.key === 'ArrowLeft') @get('/partials/actions_button');
                             "
                 >
                    Button Group
                 </button>
                 <button id="icon-button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'icon-button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'icon-button' ? '0' : '-1'"
                     data-on-click="@get('/partials/actions_icon_button');  $currentTab = 'icon-button'"
                 >
                    Icon Button
                 </button>
                 <button id="toggle-button" role="tab"
                     data-attr-aria-selected = "$currentTab === 'toggle-button' ? 'true' : null"
                     data-attr-tabindex      = "$currentTab === 'toggle-button' ? '0' : '-1'"
                     data-on-click="@get('/partials/actions_toggle_button');  $currentTab = 'toggle-button'"
                 >
                    Toggle Button
                 </button>
             </div>
        </nav>
    </header>

    <nav    id="main-nav"></nav>
    <main   id="main-main"> </main>
    <aside  id="main-aside"> </aside>
    <footer id="main-footer"></footer>
</main>
