<div class="avatar">
  <img src="https://picsum.photos/100" />
</div>


<h4>Letter</h4>
<div class="avatar">MD</div>

<h4>Icon</h4>
<div class="avatar">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
</div>


<h4>Varients</h4>
<div class="avatar squared">SQ</div>

<div class="avatar rounded"><img src="https://picsum.photos/413" /></div>


<h4>groups</h4>
<div class="avatar-group">
  <div class="avatar">CD</div>
  <div class="avatar">AB</div>
  <div class="avatar">JD</div>
  <div class="avatar">BH</div>
  <div class="avatar">AU</div>
  <div class="avatar">ZB</div>
</div>

<h4>groups</h4>
<div class="avatar-group gap-small">
  <div class="avatar">CD</div>
  <div class="avatar">AB</div>
  <div class="avatar">JD</div>
  <div class="avatar">BH</div>
  <div class="avatar">AU</div>
  <div class="avatar">ZB</div>
</div>

<h4>groups</h4>
<div class="avatar-group gap-x-small">
  <div class="avatar">CD</div>
  <div class="avatar">AB</div>
  <div class="avatar">JD</div>
  <div class="avatar">BH</div>
  <div class="avatar">AU</div>
  <div class="avatar">ZB</div>
</div>
