<div class="card outlined margin">

    <h4> Example 1</h4>
    <label class="field margin">
      <span class="label">First Name</span>
      <input type="text" placeholder="Placeholder" />
      <span class="supporting-text">More then two characters</span>
    </label>
    <label class="field margin">
      <span class="label">Last Name</span>
      <input type="text" placeholder="Placeholder" />
      <span class="supporting-text">More then two characters</span>
    </label>

    <h4> Example 2 All Generic Inputs</h4>
    <div class="card elevated content">
        <label class="field">
        <span class="label">Color</span>
        <input type="color" placeholder="Color" />
        </label>

        <label class="field">
        <span class="label">Email</span>
        <input type="email" placeholder="name@email.com" />
        </label>

        <label class="field">
        <span class="label">Password</span>
        <input type="password" placeholder="Password" />
        </label>

        <label class="field">
        <span class="label">Search</span>
        <input type="search" placeholder="Search" />
        </label>

        <label class="field">
        <span class="label">Phone</span>
        <input type="tel" placeholder="(666) 666-1337" />
        </label>

        <label class="field">
        <span class="label">Text</span>
        <input type="text" placeholder="Text" />
        </label>

        <label class="field">
        <span class="label">URL</span>
        <input type="url" placeholder="https://yoursite.com" />
        </label>

        <label class="field">
        <span class="label">Date</span>
        <input type="date" placeholder="Date" />
        </label>

        <label class="field">
        <span class="label">Datetime local</span>
        <input type="datetime-local" placeholder="Datetime local" />
        </label>

        <label class="field">
        <span class="label">Month</span>
        <input type="month" placeholder="Month" />
        </label>

        <label class="field">
        <span class="label">Time</span>
        <input type="time" placeholder="Time" />
        </label>

        <label class="field">
        <span class="label">Week</span>
        <input type="week" placeholder="Week" />
        </label>
    </div>




</div>
