<!-- This replaces the #nav target (main response) -->
<nav id="nav"
     hx-on::after-request="document.getElementById('nav-drawer').close()"
     hx-on--after-request="document.querySelectorAll('#nav li.selected').forEach(li => li.classList.remove('selected')); event.target.closest('li').classList.add('selected');"
     hx-get="partials/index_nav"
     hx-trigger="load">
</nav>

<!-- This is an out-of-band swap that replaces the button -->
<button id="nav-toggle"
        hx-get="partials/index_nav_dialog"
        hx-target="#nav"
        hx-swap="outerHTML"
        hx-swap-oob="true">
    Move Nav to Dialog
</button>
