<header>
    <ul class="list">
        <li>
            <button
                hx-get="partials/index_main.html"
                hx-swap="transition:true"
                hx-target="#main"
                hx-target="body"
            >
                <div class="start">
                    <icon-home ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house" > <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" ></path> <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" ></path></svg ></icon-home>
                </div>
                <div class="text">
                    <p>Home</p>
                </div>
            </button>
        </li>
    </ul>
</header>
<main>
    <ul
        hx-swap="transition:true"
        hx-target="#main"
        class="list"
    >
        <li>
            <div class="text inset">
                <strong>Layout</strong>
            </div>
        </li>
        <li>
            <button hx-get="partials/layout">
                <div class="start">
                    <icon-search ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-template-icon lucide-layout-template"><rect width="18" height="7" x="3" y="3" rx="1"/><rect width="9" height="7" x="3" y="14" rx="1"/><rect width="5" height="7" x="16" y="14" rx="1"/></svg></icon-search>
                </div>
                <div class="text">
                    <p>layout</p>
                </div>
            </button>
        </li>
        <li>
            <div class="text inset">
                <strong>Data Display</strong>
            </div>
        </li>
        <li>
            <button hx-get="partials/data_display_table">
                <div class="start">
                    <icon-search><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-table-icon lucide-table"><path d="M12 3v18"/><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M3 9h18"/><path d="M3 15h18"/></svg></icon-search>
                </div>
                <div class="text">
                    <p>Data Table</p>
                </div>
            </button>
        </li>
        <li>
            <div class="text inset">
                <strong>Actions</strong>
            </div>
        </li>
        <li>
            <button hx-get="partials/actions_button">
                <div class="start">
                    <icon-search><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-square-icon lucide-square-square"><rect x="3" y="3" width="18" height="18" rx="2"/><rect x="8" y="8" width="8" height="8" rx="1"/></svg></icon-search>
                </div>
                <div class="text">
                    <p>Button</p>
                </div>
            </button>
        </li>
        <li>
            <button hx-get="partials/actions_button_group">
                <div class="start">
                    <icon-buttongroup><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M10.5 7.5v5.817m-7-2.817a3 3 0 0 0 3 3h8a3 3 0 0 0 0-6h-8a3 3 0 0 0-3 3" stroke-width="2"/></svg></icon-buttongroup>
                </div>
                <div class="text">
                    <p>Button Group</p>
                </div>
            </button>
        </li>
        <li>
            <button hx-get="partials/actions_tabs">
                <div class="start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-icon lucide-folder"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/></svg>
                </div>
                <div class="text">
                    <p>Tabs</p>
                </div>
            </button>
        </li>
    </ul>
</main>
<footer>
    <ul
        hx-swap="innerHTML transition:true"
        hx-target="#main"
        class="list"
    >
        <li>
            <button hx-get="/r/dashboard/settings">
                <div class="start">
                    <icon-settings
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-settings-icon lucide-settings"
                        >
                            <path
                                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
                            ></path>
                            <circle cx="12" cy="12" r="3"></circle></svg
                    ></icon-settings>
                </div>
                <div class="text">
                    <p>Settings</p>
                </div>
                <div class="end text-sm">
                    <kbd>Ver. 0.0.2</kbd>
                </div>
            </button>
        </li>
    </ul>
</footer>
