<header id="header" class="flex-spread padding">
    <div class="flex gap">
        <button class="icon-button margin" hx-get="partials/index_dialog_nav.html" hx-target="#nav" hx-swap="outerHTML">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
        </button>
    </div>
    <h4>CSS UI</h4>
    <div class="flex gap">
        <div onclick="openDrawer('footer')">
            <icon-bell class="icon-button flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell-icon lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"></path><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"></path>
                </svg>
            </icon-bell>
        </div>
        <div onclick="openDrawer('aside')" class="avatar rounded">MD</div>
    </div>
</header>
