<nav
    hx-on::after-request="document.getElementById('nav-drawer').close()"
    hx-on--after-request="document.querySelectorAll('#nav li.selected').forEach(li =&gt; li.classList.remove('selected')); event.target.closest('li').classList.add('selected');"
    id="nav"
>
    <header>
        <ul class="list">
            <li>
                <button hx-get="/r/dashboard/home" hx-push-url="true" hx-target="#main" >
                    <div class="start">
                        <icon-home ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house" > <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" ></path> <path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" ></path></svg ></icon-home>
                    </div>
                    <div class="text">
                        <p>Home</p>
                    </div>
                </button>
            </li>
        </ul>
    </header>
    <main>
        <ul
            hx-swap="innerHTML transition:true"
            hx-push-url="true"
            hx-target="#main"
            class="list"
        >
            <li>
                <div class="text inset">
                    <strong>Layout</strong>
                </div>
            </li>
            <li>
                <button hx-get="partials/layout">
                    <div class="start">
                        <icon-search
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-search-icon lucide-search"
                            >
                                <circle cx="11" cy="11" r="8"></circle>
                                <path d="m21 21-4.3-4.3"></path></svg
                        ></icon-search>
                    </div>
                    <div class="text">
                        <p>layout</p>
                    </div>
                </button>
            </li>
        </ul>
    </main>
    <footer>
        <ul
            hx-swap="innerHTML transition:true"
            hx-push-url="true"
            hx-target="#main"
            class="list"
        >
            <li>
                <button hx-get="/r/dashboard/settings">
                    <div class="start">
                        <icon-settings
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-settings-icon lucide-settings"
                            >
                                <path
                                    d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
                                ></path>
                                <circle cx="12" cy="12" r="3"></circle></svg
                        ></icon-settings>
                    </div>
                    <div class="text">
                        <p>Settings</p>
                    </div>
                    <div class="end">
                        <kbd>Ver 0.3.1</kbd>
                    </div>
                </button>
            </li>
        </ul>
    </footer>
</nav>
