<nav id="nav" class="navbar"
    data-signals-current-page="'home'"
    data-signals-nav-dense="false"
    data-class-toolbar="$navDense"
    data-attr-popover="$windowWidth < 640 ? 'auto' : null">
    <header id="nav-header" >
        <ul>
            <li>
                <button class="icon-button" data-on-click="$navDense = !$navDense">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-left-icon lucide-chevrons-left" style="transition: transform 0.3s ease;" data-style-transform="$navDense ? 'rotate(180deg)' : 'rotate(0deg)'">
                        <path d="m11 17-5-5 5-5"/>
                        <path d="m18 17-5-5 5-5"/>
                    </svg>
                </button>
            </li>
        </ul>
    </header>

    <main id="nav-main">
        <ul>
            <hr>
            <li>
                <a
                    data-on-click="@get('partials/blog/main'); $currentPage = 'blog'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'blog' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M37.31 15.93L12.24 41L5.5 42.5L7 35.76l.51-.51l28-28l.51-.51l1.76 1.76l.55-.5l2.46-2.5h0l1.71 1.71L40 9.68l-.52.51l1.8 1.81l-3 3l1.41 1.42l1.45 1.44l-4.88 4.88m1.55-14.26l1.71 1.71m-1.21 4.74l-1 1M7 35.76L12.24 41" stroke-width="2"/></svg>
                    <p>Blog</p>
                </a>
            </li>
            <hr>
            <li>
                <a
                    data-on-click="@get('partials/links/main'); $currentPage = 'links'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'links' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m17.253 23.954l14.475.037m-11.096 8.69h-6.96a8.681 8.681 0 1 1 0-17.362h6.644m8.034 0h6.96a8.681 8.681 0 1 1 0 17.362h-6.645" stroke-width="2"/></svg>
                    <p>Links</p>
                </a>
            </li>
            <hr>
            <li>
                <a
                    data-on-click="@get('partials/datastar/main'); $currentPage = 'datastar'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'datastar' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="currentColor" d="M96 256h32v256H0V352h32v-32h32v-32h32zm416 96v160H384V256h32v32h32v32h32v32zM320 64h32v384h-32v-32H192v32h-32V64h32V32h32V0h64v32h32zm-32 64h-64v64h64z"/></svg>
                    <p>Datastar</p>
                </a>
            </li>


        </ul>
    </main>

    <footer>
        <ul>
            <hr>
            <li>
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M29.144 9.29v27.69c.117 2.928-2.182 5.398-5.139 5.52c-2.957-.122-5.255-2.592-5.138-5.52V9.563" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M29.144 19.375v18.037c.001 2.808-2.296 5.086-5.132 5.088h-.007a5 5 0 0 1-1.401-.194c-2.212-.618-3.74-2.618-3.737-4.894V19.374" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M18.867 20.198c1.549.715 3.43 1.067 5.138 1.027q1.178.006 2.336-.203c.056-.01.121-.019.177-.028c.847-.15 1.855-.418 2.625-.796M18.165 7.952c0 1.354 2.612 2.451 5.835 2.451s5.836-1.097 5.836-2.451S27.223 5.5 24 5.5s-5.835 1.098-5.835 2.452" stroke-width="2"/></svg>

                    <p>
                        <span class="label">Custom Styles</span>
                    </p>
                    <div class="end">
                        <label class="switch">
                            <input type="checkbox" checked role="switch" data-on-change="evt.target.checked ? @get('partials/head/styles.html') : @get('partials/head/styles-empty.html')" />
                        </label>
                    </div>
                </a>
            </li>

            <li>
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M29.144 9.29v27.69c.117 2.928-2.182 5.398-5.139 5.52c-2.957-.122-5.255-2.592-5.138-5.52V9.563" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M29.144 19.375v18.037c.001 2.808-2.296 5.086-5.132 5.088h-.007a5 5 0 0 1-1.401-.194c-2.212-.618-3.74-2.618-3.737-4.894V19.374" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M18.867 20.198c1.549.715 3.43 1.067 5.138 1.027q1.178.006 2.336-.203c.056-.01.121-.019.177-.028c.847-.15 1.855-.418 2.625-.796M18.165 7.952c0 1.354 2.612 2.451 5.835 2.451s5.836-1.097 5.836-2.451S27.223 5.5 24 5.5s-5.835 1.098-5.835 2.452" stroke-width="2"/></svg>

                    <p>
                        <span class="label">Foundation Styles</span>
                    </p>
                    <div class="end">
                        <label class="switch">
                            <input type="checkbox"  role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_foundation.html') : @get('partials/head/css_foundation_blank.html')" />
                        </label>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M29.144 9.29v27.69c.117 2.928-2.182 5.398-5.139 5.52c-2.957-.122-5.255-2.592-5.138-5.52V9.563" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M29.144 19.375v18.037c.001 2.808-2.296 5.086-5.132 5.088h-.007a5 5 0 0 1-1.401-.194c-2.212-.618-3.74-2.618-3.737-4.894V19.374" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M18.867 20.198c1.549.715 3.43 1.067 5.138 1.027q1.178.006 2.336-.203c.056-.01.121-.019.177-.028c.847-.15 1.855-.418 2.625-.796M18.165 7.952c0 1.354 2.612 2.451 5.835 2.451s5.836-1.097 5.836-2.451S27.223 5.5 24 5.5s-5.835 1.098-5.835 2.452" stroke-width="2"/></svg>

                    <p>
                        <span class="label">Composition Styles</span>
                    </p>
                    <div class="end">
                        <label class="switch">
                            <input type="checkbox"  role="switch" data-on-change="evt.target.checked ? @get('partials/head/css_composition.html') : @get('partials/head/css_composition_blank.html')" />
                        </label>
                    </div>
                </a>
            </li>

            <li>
                <a
                    data-on-click="footer.togglePopover(); $currentPage = 'notes'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'notes' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M21.672 4.477L5.907 11.615a.37.37 0 0 0-.214.372l2.108 20.476a.49.49 0 0 0 .262.386l18.14 9.462a.37.37 0 0 0 .429-.058l12.722-11.87a.7.7 0 0 0 .22-.443l2.052-19.709a.315.315 0 0 0-.227-.335L22.168 4.44a.72.72 0 0 0-.496.037" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m5.798 11.902l21.005 7.667l-.308 22.76m14.993-32.113l-14.644 9.51" stroke-width="2"/></svg>
                    <p>footer</p>
                    <div class="chip outlined small">V 0</div>
                </a>
            </li>
        </ul>
    </footer>

</nav>
