<nav id="nav" class="navbar"
    data-signals-current-page="'home'"
    data-signals-nav-dense="false"
    data-class-toolbar="$navDense"
    data-attr-popover="$windowWidth < 640 ? 'auto' : null">
    <header id="nav-header" >
        <ul>
            <li>
                <button class="icon-button" data-on-click="$navDense = !$navDense">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-left-icon lucide-chevrons-left" style="transition: transform 0.3s ease;" data-style-transform="$navDense ? 'rotate(180deg)' : 'rotate(0deg)'">
                        <path d="m11 17-5-5 5-5"/>
                        <path d="m18 17-5-5 5-5"/>
                    </svg>
                </button>
            </li>
        </ul>
    </header>

    <main id="nav-main">
        <ul>
            <hr>
            <li>
                <a
                    data-on-click="@get('partials/blog/main'); $currentPage = 'blog'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'blog' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M37.31 15.93L12.24 41L5.5 42.5L7 35.76l.51-.51l28-28l.51-.51l1.76 1.76l.55-.5l2.46-2.5h0l1.71 1.71L40 9.68l-.52.51l1.8 1.81l-3 3l1.41 1.42l1.45 1.44l-4.88 4.88m1.55-14.26l1.71 1.71m-1.21 4.74l-1 1M7 35.76L12.24 41" stroke-width="2"/></svg>
                    <p>Blog</p>
                </a>
            </li>
            <hr>
            <li>
                <a
                    data-on-click="@get('partials/link/main'); $currentPage = 'links'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'links' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m17.253 23.954l14.475.037m-11.096 8.69h-6.96a8.681 8.681 0 1 1 0-17.362h6.644m8.034 0h6.96a8.681 8.681 0 1 1 0 17.362h-6.645" stroke-width="2"/></svg>
                    <p>Links</p>
                </a>
            </li>

        </ul>
    </main>

    <footer>
        <ul>
            <li>
                <a
                    data-on-click="@get('partials/license'); $currentPage = 'license'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'license' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><circle cx="24" cy="24" r="21.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M14.011 15.194h19.978M15.138 36.152h17.724M24 11.848v24.304m-3.05-7.147c0 1.42-2.47 2.57-5.51 2.57s-5.51-1.15-5.51-2.57c0-.18.04-.36.11-.52l5.4-10.3l5.4 10.3c.07.16.11.34.11.52m-10.91-.002h10.8m-5.4-10.818v-2.991m11.61 13.811c0 1.42 2.47 2.57 5.51 2.57s5.51-1.15 5.51-2.57c0-.18-.04-.36-.11-.52l-5.4-10.3l-5.4 10.3c-.07.16-.11.34-.11.52m10.91-.002h-10.8m5.4-10.818v-2.991" stroke-width="2"/></svg>
                    <p>Licenses</p>
                    <div class="chip outlined small">Ver. 0.1</div>
                </a>
            </li>
        </ul>
    </footer>

</nav>
