<header>
    <h1>Welcome to the Demo</h1>
</header>
<main>
    <p>This is the main content of the website.</p>
    <button popovertarget="aside"> aside </button>
    <button popovertarget="nav"> nav </button>
    <button popovertarget="header"> header </button>
    <button popovertarget="footer"> footer </button>
    <button popovertarget="aside"> aside </button>

    <h3>Test view transition api WIP</h3>
    <hr>
    </hr>

    <button hx-get="partials/box" hx-target="#main-aside" hx-swap="beforend show:top" class="button">
        <span>
            Slide in Right
        </span>
    </button>


</main>

<aside id="main-aside"> </aside>

<footer>
    <code>main $gt; main</code>
</footer>
