<nav id="nav" class="navbar"
    data-signals-current-page="'home'"
    data-signals-nav-dense="false"
    data-class-toolbar="$navDense"
    data-attr-popover="$windowWidth < 640 ? 'auto' : null">
    <header id="nav-header" >
        <ul>
            <li>
                <button class="icon-button" data-on-click="$navDense = !$navDense">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-left-icon lucide-chevrons-left" style="transition: transform 0.3s ease;" data-style-transform="$navDense ? 'rotate(180deg)' : 'rotate(0deg)'">
                        <path d="m11 17-5-5 5-5"/>
                        <path d="m18 17-5-5 5-5"/>
                    </svg>
                </button>
            </li>
        </ul>
    </header>

    <main id="nav-main">
        <ul>
            <hr>
            <li>
                <a
                    data-on-click="@get('partials/blog/main'); $currentPage = 'blog'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'blog' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M37.31 15.93L12.24 41L5.5 42.5L7 35.76l.51-.51l28-28l.51-.51l1.76 1.76l.55-.5l2.46-2.5h0l1.71 1.71L40 9.68l-.52.51l1.8 1.81l-3 3l1.41 1.42l1.45 1.44l-4.88 4.88m1.55-14.26l1.71 1.71m-1.21 4.74l-1 1M7 35.76L12.24 41" stroke-width="2"/></svg>
                    <p>Blog</p>
                </a>
            </li>
            <hr>
            <li>
                <a
                    data-on-click="@get('partials/link/main'); $currentPage = 'links'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'links' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m17.253 23.954l14.475.037m-11.096 8.69h-6.96a8.681 8.681 0 1 1 0-17.362h6.644m8.034 0h6.96a8.681 8.681 0 1 1 0 17.362h-6.645" stroke-width="2"/></svg>
                    <p>Links</p>
                </a>
            </li>

        </ul>
    </main>

    <footer>
        <ul>
            <li>
                <a
                    data-on-click="footer.togglePopover(); $currentPage = 'notes'; if ($windowWidth < 640 && document.getElementById('nav').matches(':popover-open')) { document.getElementById('nav').hidePopover(); } "
                    data-attr-aria-current="$currentPage === 'notes' ? 'page' : null"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.5 21.423h37m-37 5.572h37m-37 5.572h37m-37 5.571h37m-37-21.066c1.077.727 2.144 1.454 2.786 1.2c.652-.265.878-1.512 1.596-1.597c.718-.075 1.926 1.01 2.88 1.115c.945.104 1.634-.765 2.522-.926c.897-.16 2.002.387 2.852.529c.859.142 1.463-.123 2.172-.283c.698-.151 1.492-.208 2.011-.151c.51.047.746.198 1.247.226c.51.029 1.284-.066 2.058-.141s1.55-.123 2.23-.161c.67-.038 1.246-.075 2.001-.01c.756.067 1.681.227 2.304.199c.624-.028.935-.236 1.577-.264c.643-.029 1.606.132 2.314.056c.699-.085 1.133-.415 1.71-.462c.566-.057 1.274.16 1.86.283c.585.113 1.039.132 1.501-.02c.463-.14.926-.462 1.38-.783m-.001-1.22h-37" stroke-width="2"/><rect width="37" height="37" x="5.5" y="5.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" rx="4" ry="4" stroke-width="2"/></svg>
                    <p>Quick Notes</p>
                </a>
            </li>
        </ul>
    </footer>

</nav>
