<nav id="nav" data-signals="{navDense: false}"
    data-attr-popover="$windowWidth < 640 ? 'auto' : null"
    data-class-dense="$navDense">
    <header id="nav-header" class="layout">
        <button class="center-end small" data-on-click="$navDense = !$navDense">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" data-class-rotate-180="$navDense"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M 19.03498,37.87702 5.4999802,24.00002 19.03498,10.12302" stroke-width="2" id="path1" /> <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m 31.10798,37.87702 -13.535,-13.877 13.535,-13.877" stroke-width="2" id="path2" /> <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m 42.49998,37.87702 -13.535,-13.877 13.535,-13.877" stroke-width="2" id="path3" /></svg>
        </button>
    </header>
    <main id="nav-main">
        <ul>
            <li>
                <strong>CSS</strong>
            </li>
            <li>
                <a
                    data-on-click="@get('partials/index_main')"
                    data-on-keydown=" if (evt.key === 'ArrowDown') { evt.preventDefault(); const next = el.nextElementSibling; if (next && next.focus) { next.focus(); } } "
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M42.63 21.85L26 7.64a3 3 0 0 0-3.9 0L5.37 21.85a2.43 2.43 0 0 0-.29 3.44a2.39 2.39 0 0 0 1.92.87h2.09v13.29a1.63 1.63 0 0 0 1.63 1.63h7.35a1.63 1.63 0 0 0 1.63-1.63v-8.18a1 1 0 0 1 1-1h6.64a1 1 0 0 1 1 1v8.18a1.63 1.63 0 0 0 1.63 1.63h7.35a1.63 1.63 0 0 0 1.63-1.63V26.16H41a2.44 2.44 0 0 0 1.59-4.31Z" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M32.45 13.18V7.92a.4.4 0 0 1 .39-.39h5.68a.4.4 0 0 1 .39.39h0v10.75" stroke-width="2"/></svg>
                    <p>Home</p>
                </a>
            </li>

            <li>
                <a
                    data-on-click="@get('partials/actions_button')"
                    data-on-keydown=" if (evt.key === 'ArrowDown') { evt.preventDefault(); const next = el.nextElementSibling; if (next && next.focus) { next.focus(); } } "
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                      <rect width="41" height="17.872" x="3.5" y="15.629" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" rx="8.936" ry="8.936" stroke-width="2"/>
                    </svg>
                    <p>Button</p>
                    <div class="chip tonal small">stable</div>
                </a>
            </li>

            <li>
                <a data-on-click="@get('partials/actions_button_group')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                                      <rect width="41" height="17.872" x="3.5" y="15.629" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" rx="8.936" ry="8.936" stroke-width="2"/>
                                      <line x1="24" y1="17.629" x2="24" y2="31.501" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                    <p>Button Group</p>
                    <div class="chip tonal small">in progress</div>
                </a>
            </li>

            <li>
                <a data-on-click="@get('partials/actions_icon_button')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><circle cx="24" cy="24" r="21.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M29.442 19.05c1.2.9 2.2 3.2 2 5.7c-.2 1.9-1.2 3.5-2 4.1m-18-9.1v8.7h5.8l7.5 6v-20.9l-7.5 6.2zm21.5-4.6c2.1 1.6 3.8 5.7 3.6 10.2c-.3 3.4-2 6.2-3.6 7.4" stroke-width="2"/></svg>
                    <p>Icon Button</p>
                    <div class="chip tonal small">in progress</div>
                </a>
            </li>

            <li>
                <a data-on-click="@get('partials/actions_tabs')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M40.162 14.996V9.328l-21.035-.002a.28.28 0 0 1-.276-.284l-.053-1.167c-.089-1.376-1.03-2.31-2.305-2.31H7.808A2.31 2.31 0 0 0 5.5 7.871v34.564" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M9.349 38.89c-.113 2.015-2.377 3.322-3.849 3.546l34.692-.003a2.31 2.31 0 0 0 2.308-2.309V15.766a.77.77 0 0 0-.77-.77H10.122a.77.77 0 0 0-.77.77z" stroke-width="2"/></svg>
                    <p>Tabs</p>
                    <div class="chip tonal small">beta</div>
                </a>
            </li>

            <li>
                <a data-on-click="@get('partials/layout')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M38.5 5.5h-29a4 4 0 0 0-4 4v29a4 4 0 0 0 4 4h29a4 4 0 0 0 4-4v-29a4 4 0 0 0-4-4M24 5.5v37M42.5 24H24" stroke-width="2"/></svg>
                    <p>Layout</p>
                    <div class="chip tonal small">in progress</div>
                </a>
            </li>

            <li>
                <a data-on-click="@get('partials/data_display_chip')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M43.5 35.5v-23a4 4 0 0 0-4-4h-31a4 4 0 0 0-4 4v23a4 4 0 0 0 4 4h31a4 4 0 0 0 4-4" stroke-width="2"/></svg>
                    <p>Chip</p>
                    <div class="chip tonal small">in progress</div>
                </a>
            </li>

            <hr>
            <li>
                <strong> DataStar </strong>
            </li>
            <li>
                <a data-on-click="@get('partials/ds/attributes')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M24 29.13V43.5m-4.51-14.37v9.77m15.1-9.77L24 4.5L13.41 29.13m15.1 0v9.77" stroke-width="2"/></svg>
                    <p>Data Star</p>
                    <div class="chip small outlined">testing</div>
                </a>
            </li>
        </ul>
    </main>

    <footer>
        <ul>
            <li>
                <a data-on-click="@get('partials/license')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><circle cx="24" cy="24" r="21.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M14.011 15.194h19.978M15.138 36.152h17.724M24 11.848v24.304m-3.05-7.147c0 1.42-2.47 2.57-5.51 2.57s-5.51-1.15-5.51-2.57c0-.18.04-.36.11-.52l5.4-10.3l5.4 10.3c.07.16.11.34.11.52m-10.91-.002h10.8m-5.4-10.818v-2.991m11.61 13.811c0 1.42 2.47 2.57 5.51 2.57s5.51-1.15 5.51-2.57c0-.18-.04-.36-.11-.52l-5.4-10.3l-5.4 10.3c-.07.16-.11.34-.11.52m10.91-.002h-10.8m5.4-10.818v-2.991" stroke-width="2"/></svg>
                    <p>Licenses</p>
                    <div class="chip tonal small">Ver. 0.1</div>
                </a>
            </li>
        </ul>
    </footer>

</nav>
