<main id="main">
    <header id="main-header">
        <h1>Home</h1>
    </header>

    <main id="main-main" class="card outlined">
       <section>
           <h2> Features </h2>
           <ul>
               <li>
                   <p>Theme will broadcast to other open tabs</p>
                   <p>Day / Night / System</p>
                   <p>Font size</p>
                   <p>Centered viewport (for large screens)</p>
               </li>
           </ul>
       </section>
    </main>

    <aside id="main-aside"></aside>

    <footer id="main-footer" class="--flex:row:end">
        <small><a href="https://deufel.github.io/css">https://deufel.github.io/blog</a></small>
    </footer>
<main>
