<main id="header-main">
    <h3>Home</h3>
</main>


<main id="main">
    <header id="main-header">
        <h1>Welcome to the Demo</h1>
    </header>

    <main id="main-main">
        <p>This is the main content of the website.</p>
        <a href="https://github.com/Deufel/css">Github Repo</a>
    </main>

    <aside id="main-aside"></aside>

    <footer id="main-footer" class="--flex:row:end">
        <small><a href="https://deufel.github.io/css">https://deufel.github.io/css</a></small>
    </footer>
<main>
