<footer id="footer" popover="auto">
    <header id="footer-header">
        <div class="layout">
            <hgroup class="start-center">
                <p>Notifications</p>
                <h2 class="h3">Inbox</h2>
            </hgroup>
            <nav class="tabs underlined end-center">
                <div role="tablist" aria-label="Underlined tabs">
                    <button id="underlined-tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="false" tabindex="0"
                        data-on-click="@get('partials/actions_tabs_underlined')">
                    Inbox
                    </button>
                    <button id="underlined-tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="-1"
                        data-on-click="@get('partials/actions_tabs_filled')">
                    Sent
                    </button>
                </div>
            </nav>
        </div>
    </header>


    <main id="footer-main">
        <progress></progress>
    </main>

    <footer id="footer-footer" class="--flex:row:end">
        <small>https://deufel.github.io/css/tabs</small>
    </footer>

</footer>
