<main id="main">
    <nav    style="background-color: light-dark(#E5F3FF, color-mix(in srgb, #E5F3FF 30%, black));"><h4> main &GT; nav </h4></nav>
    <main   style="background-color: light-dark(#F0F8E5, color-mix(in srgb, #F0F8E5 30%, black));">
        <div>
            <h4>main &GT; nav</h4>
        </div>
        <p>The general idea with this leyout is that each page containes a auto adjusting "hero" grid from the &LT body &GT tag</p>
        <code class="plain">
            &LT body &GT
                &LT nav    &GT
                &LT main   &GT
                &LT footer &GT
            &LT/body &GT
        </code>
        <article>
            <h4>demo to see what hapens when elements are removed / added to DOM</h4>
            <button class="button" data-on-click="@get('partials/layout_1')"><span>example 1</span></button>
            <button class="button" data-on-click="@get('partials/layout_2')"><span>example 2</span></button>
            <button class="button" data-on-click="@get('partials/layout_3')"><span>example 3</span></button>
            <button class="button" data-on-click="@get('partials/layout_4')"><span>example 4</span></button>
            <button class="button" data-on-click="@get('partials/layout_5')"><span>example 5</span></button>
        </article>
    </main>
    <footer style="background-color: light-dark(#F5E5FF, color-mix(in srgb, #F5E5FF 30%, black));"><h4>main &GT; footer</h4></footer>
</main>
