<main id="main">
    <header style="background-color: #FFE5E5;" class="layout"> main &GT; header </header>
        <div class="↖️"> ↖️ </div>
        <div class="⬆️"> ⬆️ </div>
        <div class="↗️"> ↗️ </div>
        <div class="⬅️"> ⬅️ </div>
        <div class="↔️"> ↔️ </div>
        <div class="➡️"> ➡️ </div>
        <div class="↙️"> ↙️ </div>
        <div class="⬇️"> ⬇️ </div>
        <div class="↘️"> ↘️ </div>
    <nav    style="background-color: #E5F3FF;"> main &GT; nav    </nav>
    <main   style="background-color: #F0F8E5;"> main &GT; main   </main>
    <aside  style="background-color: #FFF5E5;"> main &GT; aside  </aside>
    <footer style="background-color: #F5E5FF;"> main &GT; footer </footer>
</main>
