<main id="main">
    <header style="background-color: light-dark(var(--color-3), var(--color-9));"><h4> main &GT; header <h4></header>
    <nav    style="background-color: light-dark(var(--color-4), var(--color-10));"><h4> main &GT; nav </h4></nav>
    <main   style="background-color: light-dark(var(--color-5), var(--color-11));">
        <div>
            <h4>main &GT; nav</h4>
        </div>
        <p>The general idea with this leyout is that each page containes a auto adjusting "hero" grid from the &LT body &GT tag</p>
        <code class="plain">
&LT body &GT
    &LT header &GT
    &LT nav    &GT
    &LT main   &GT
    &LT aside  &GT
    &LT footer &GT
&LT/body &GT
        </code>
        <article>
            <h4>demo to see what hapens when elements are removed / added to DOM</h4>
            <div class="button-group outlined" role="group">
                <button class="button" data-on-click="@get('partials/layout')"><span>all</span></button>
                <button class="button" data-on-click="@get('partials/layout_1')"><span>ex 1</span></button>
                <button class="button" data-on-click="@get('partials/layout_2')"><span>ex 2</span></button>
                <button class="button" data-on-click="@get('partials/layout_3')"><span>ex 3</span></button>
                <button class="button" data-on-click="@get('partials/layout_4')"><span>ex 4</span></button>
                <button class="button" data-on-click="@get('partials/layout_5')"><span>ex 5</span></button>
            </div>
        </article>
    </main>
    <aside  style="background-color: light-dark(var(--color-6), var(--color-12));"> <h4>main &GT; aside</h4> </aside>
    <footer style="background-color: light-dark(var(--color-7), var(--color-13));"><h4>main &GT; footer</h4></footer>
</main>
