<main id="main">
    <header id="main-header" class="--split">
        <div> <h2> Testing </h2></div>
    </header>

   <nav    id="main-nav"></nav>

   <main   id="main-main" >
       <button class="button small outlined" data-on-click="@get('partials/head/styles')"> <span> styles.css </span></button>
       <button class="button small outlined" data-on-click="@get('partials/head/styles-2')"> <span> styles-2.css </span></button>
   </main>

   <aside  id="main-aside"> </aside>

   <footer id="main-footer"> </footer>
</main>
