<footer id="header-footer">
    <div class="--stack">
        <div class="button-group" role="group">
            <button class="button small filled" data-on-click="@get('partials/layout/add-header')"> <span> + header </span></button>
            <button class="button small filled" data-on-click="@get('partials/layout/add-nav')">    <span> + Nav    </span></button>
            <button class="button small filled" data-on-click="@get('partials/layout/add-aside')">  <span> + Aside  </span></button>
            <button class="button small filled" data-on-click="@get('partials/layout/add-footer')"> <span> + Footer </span></button>
        </div>
        <div class="button-group" role="group">
            <button class="button small outlined" data-on-click="@get('partials/layout/rem-header')"> <span> - header </span></button>
            <button class="button small outlined" data-on-click="@get('partials/layout/rem-nav')">    <span> - Nav    </span></button>
            <button class="button small outlined" data-on-click="@get('partials/layout/rem-aside')">  <span> - Aside  </span></button>
            <button class="button small outlined" data-on-click="@get('partials/layout/rem-footer')"> <span> - Footer </span></button>
        </div>
    </div>
</footer>

<main id="main">
    <header id="main-header" style="background-color: light-dark(var(--color-3), var(--color-9));"><h4> main &GT; header <h4></header>
    <nav    id="main-nav"    style="background-color: light-dark(var(--color-4), var(--color-10));"><h4> main &GT; nav </h4></nav>
    <main   id="main-main"   style="background-color: light-dark(var(--color-5), var(--color-11));">
        <div>
            <h4>main &GT; nav</h4>
        </div>
        <h2> How it works: </h2>
        <p> The general idea with this layout is that each page containes an auto adjusting "hero" grid from the &LT; body &GT; tag </p>
        <p> if you add a <span><code>popover="auto"</code></span> attribute to the body &GT head, aside, fooer, nav &LT; then that section will be moved into a off screen drawer </p>
        <em> note: the semantic section will determine the drawer direction </em>
        <p> recommended use is to have the content of the page always be in the body/main/ and use the other sections for UI elements like settings, current page, ect</p>
        <p> it is also recommended to use the same element and use js to add/remove the popover attribute when the screen gets to small </p>
        <em> note: that only the content in the body/main will be printed </em>
        <p> nested grid system each semantic element also allows you to use a nother layer of semantic header/nav/main/aside/footer elements withinit. </p>
        <p> This starts to get a bit out of html semantic compliance here but I found this to be the easiest to work with and this covers almost all my layout needs</p>

        <code class="plain">
&LT body &GT
    &LT header &GT
    &LT nav    &GT
    &LT main   &GT
    &LT aside  &GT
    &LT footer &GT
&LT/body &GT
        </code>
    </main>
    <aside  id="main-aside"  style="background-color: light-dark(var(--color-6), var(--color-12));"> <h4>main &GT; aside</h4> </aside>
    <footer id="main-footer" style="background-color: light-dark(var(--color-7), var(--color-13));"><h4>main &GT; footer</h4></footer>
</main>



<main id="footer-main">
    <code-viewer
        src="partials/main-layout"
        filename="partials/main-layout.html"
        height="50svh">
    </code-viewer>
</main>
