<main id="header-main"> </main>
<footer id="header-footer"> </footer>



<main id="main">
    <header id="main-header" class="--split">
        <div> <h3> Components </h3></div>
        <div>
            <nav class="tabs underlined">
                 <div role="tablist" aria-label="CSS Action Component Examples"  data-signals-currentTab="'button-group'">
                     <button id="button" role="tab"
                         data-attr-aria-selected = "$currentTab === 'button' ? 'true' : null"
                         data-attr-tabindex      = "$currentTab === 'button' ? '0' : '-1'"
                         data-on-click = "$currentTab = 'button', @get('partials/button/' + $currentTab'"
                     >
                        Button
                     </button>
                     <button id="button-group" role="tab"
                         data-attr-aria-selected = "$currentTab === 'button-group' ? 'true' : null"
                         data-attr-tabindex      = "$currentTab === 'button-group' ? '0' : '-1'"
                         data-on-click="$currentTab = 'button-group', @get('partials/button/' + $currentTab'"
                     >
                        Button Group
                     </button>
                     <button id="icon-button" role="tab"
                         data-attr-aria-selected = "$currentTab === 'icon-button' ? 'true' : null"
                         data-attr-tabindex      = "$currentTab === 'icon-button' ? '0' : '-1'"
                         data-on-click="$currentTab = 'icon-button', @get('partials/button/' + $currentTab'"
                     >
                        Icon Button
                     </button>
                     <button id="toggle-button" role="tab"
                         data-attr-aria-selected = "$currentTab === 'toggle-button' ? 'true' : null"
                         data-attr-tabindex      = "$currentTab === 'toggle-button' ? '0' : '-1'"
                         data-on-click="$currentTab = 'toggle-button', @get('partials/button/' + $currentTab'"
                     >
                        Toggle Button
                     </button>
                 </div>
            </nav>
        </div>
    </header>
    <aside id="main-aside">

    </aside>
    <nav    id="main-nav"></nav>
    <main   id="main-main"> </main>
</main>


<main id="footer-main">
    <code-viewer
        src="partials/button/main"
        filename="partials/button/main.html"
        height="60svh">
    </code-viewer>
</main>
