<nav id="nav"
    class="navbar"
    data-attr-popover="$windowWidth < 640 ? 'auto' : null"
>
    <ul>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <hr>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <hr>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
    </ul>
</nav>
