<nav id="nav"
    class="navbar"
    data-attr-popover="$windowWidth < 640 ? 'auto' : null"
>
<div class="--wrapper">
    <ul>
        <li>
            <Strong>Testing</Strong>
        </li>
        <li>
            <a data-on-click="@get('partials/demo/layout')">Layout Test</a>
        </li>
        <li>
            <a data-on-click="@get('partials/demo/color')">Color Test</a>
        </li>
        <hr>
        <li>
            <strong>External Links</strong>
        </li>
        <li>
            <a href="https://github.com/Deufel/blog">Git Hub Repo</a>
        </li>
        <hr>
        <li>
           <p>Components</p>
        </li>
        <li>
           <p>Layout</p>
        </li>
    </ul>
</div>
</nav>
