<main id="main-main">
    <header><H2>Utils</H2></header>
   <article class="--flank" title="this is the --flank class">
       <div> 1 </div>
       <div> 2 </div>
   </article>

   <article class="--flank:end" title="this is the --flank:end class">
       <div> 1 </div>
       <div> 2 </div>
   </article>
   <article class="--split:row" title="this is the --split:row class">
       <div> 1 </div>
       <div> 2 </div>
   </article>
   <article class="--split:column" title="this is the --split:column">
       <div> 1 </div>
       <div> 2 </div>
   </article>
</main>
