<main id="header-main">
    <h3>External Links</h3>
</main>

<main id="main">
    <header id="main-header"> </header>
    <nav    id="main-nav">    </nav>

   <main  class="card outlined" id="main-main" >
       <ul>
           <li>
               <a href="https://daniel.feldroy.com/">Daniel Roy Greenfeld</a>
               <div class="chip outlined small">python</div>
           </li>
           <li>
               <a href="https://simonwillison.net/">Simon Willison</a>
               <div class="chip outlined small">python</div>
               <div class="chip outlined small">SQLite</div>
           </li>
       </ul>
   </main>

   <aside  id="main-aside"> </aside>

   <footer id="main-footer" class="--split">
       <div></div>
       <small>github.com/deufel/links</small>
   </footer>

</main>
