

<main id="main">
    <header id="main-header" class="padding">
        <h3>External Links</h3>
    </header>

   <nav    id="main-nav">

   </nav>

   <main  class="card outlined" id="main-main" >
       <ul>
           <li>
               <a href="https://daniel.feldroy.com/">Daniel Roy Greenfeld</a>
               <small>good place to kill some time</small>
           </li>
       </ul>
   </main>

   <aside  id="main-aside"> </aside>

   <footer id="main-footer" class="--split">
       <div></div>
       <small>github.com/deufel/links</small>
   </footer>

</main>
