<style id="css_4_base">

@layer css_4_base {
    :where(:root) {
        body {
            position: relative;
            inset: 0;
            margin: 0; /* Essential */
            margin-inline: auto; /* allows for easy centering */
            height: 100svh;
            line-height: 1.5;
            overflow: hidden;
            overscroll-behavior: none;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        * {
            scrollbar-width: thin;
            scrollbar-color: var(--color-7) transparent;
        }

        /* ROOT PROPERTIES */
        @property --spinner-rotation {
            syntax: "<angle>";
            inherits: false;
            initial-value: 0deg;
        }

        @keyframes spinner-rotate {
            to { --spinner-rotation: 360deg; }
        }

    }

    .app-layout {
        display: grid;
        grid-template:
            "header header header" auto
            "nav    main   aside"  1fr
        / auto   1fr    auto;

        gap: var(--size-0);
        min-height: 100svh;
        max-height: 100svh;



        /* Layout component styles */
        #header { grid-area: header;  }
        #nav    { grid-area: nav;   overflow-y: auto; scrollbar-gutter: stable both-edges;}
        #aside  { grid-area: aside; overflow-y: auto; scrollbar-gutter: stable both-edges;}
        #main   { grid-area: main;  overflow-y: auto; scrollbar-gutter: stable both-edges;}
    }

}

</style>
