<title id="title">CUBE CSS</title>

<main id="main">
    <header id="main-header">
        <h3>CSS</h3>
        <hr>
    </header>


    <main id="main-main" >
        <article>
            <h4>CUBE</h4>
        </article>
        <section>
            <h5>Composition</h5>
            <p>controls the overall layout and rhythm of elements. Think of the composition as a skeleton.</p>
            <h6>
                Utilities
            </h6>
            <p>help us to compose our layouts and components</p>
            <pre style="margin: 0;" class="--center-hor"><code class="hljs language-python"> .wrapper { margin-inline: auto; padding-inline: 1rem; max-width: 60rem; } </code></pre>
            <h6>Design tokens</h6>
            <p>Design Tokens are the visual atoms of the design system – specifically, they are named entities that store visual design attributes. We use them in place of hard–coded values in order to maintain a scalable and consistent visual system.</p>
        </section>
    </main>
    <div class="sr-only" data-effect="hljs.highlightAll();"></div>
</main>
