<title id="title">CUBE CSS</title>

<main id="main">
    <header id="main-header">
        <h3>CSS</h3>
        <hr>
    </header>


    <main id="main-main" >
        <section>
            <h4>
                Utilities
            </h4>
            <pre style="margin: 0;" class="--center-hor"><code class="hljs language-python"> .wrapper { margin-inline: auto; padding-inline: 1rem; max-width: 60rem; } </code></pre>
        </section>
    </main>
    <div class="sr-only" data-effect="hljs.highlightAll();"></div>
</main>
