<!-- How to toggle a class with a signal -->
<p data-text="$navDense ? 'expand' : 'collapse'">collapse</p>

<!-- How to rotate a svg with a signal -->
<svg
    style="transition: transform 0.3s ease;"
    data-style-transform="$navDense ? 'rotate(180deg)' : 'rotate(0deg)'"
>
</svg>

<!-- How to toggle a signal -->
<button data-on-click="$navDense = !$navDense">


<!-- Simple window resize handler that dispatches a custom event "windowWidth" and using it..  -->
<script>
    window.addEventListener('resize', () => {
        document.body.dispatchEvent(
            new CustomEvent('windowresize', {
                detail: { width: window.innerWidth }
            })
        );
    });
</script>

<nav data-attr-popover="$windowWidth < 640 ? 'auto' : null">

<script>
addEventListener('resize', () =>
    document.body.dispatchEvent(new CustomEvent('windowresize', {
        detail: { width: innerWidth }
    }))
);
</script>
