<style id="css_4_base">

@layer css_4_base {
    /*
      Global styles

      Low-specificity, global styles that apply to the whole
      project: https://cube.fyi/css.html
    */

    /* Global scrollbar styles */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-7) transparent;

        /* transition: scrollbar-color 0.3s ease;

        &:not(:hover) {
            scrollbar-color: var(--color-5) transparent;
        } */
    }

    body {
        font-size: var(--size-step-1);
        font-family: var(--font-base);
        line-height: var(--leading-standard);
        font-size-adjust: from-font;
        margin: 0;
    }

    :is(h1, h2, h3, h4) {
        line-height: var(--font-lineheight-3);
        text-wrap: balance;
    }

    h1 {
        font-size: var(--font-size-6);
        max-width: 20ch;
    }

    h2 {
        font-size: var(--font-size-5);
        max-width: 35ch;
    }

    h3 {
        font-size: var(--font-size-4);
        max-width: 35ch;
    }

    :is(h4, h5, h6) {
        font-size: var(--font-size-3);
    }

    small {
        font-size: var(--font-size-0);
    }

    ins {
        text-decoration: none;
        padding-inline: 0.3em;
    }

    :is(code, kbd, samp) {
        font-family: var(--font-mono);
        padding: 0.2em 0.2em 0.05em 0.2em;
        hyphens: none;
        tab-size: 2;
        text-align: left;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        box-decoration-break: clone;
    }

    /* This is quite a new property, so we want code styles to at least, not be huge or tiny */
    @supports not (font-size-adjust: from-font) {
        :is(code, kbd, samp) {
            font-size: 0.8em;
        }
    }

    pre:has(code) {
        width: max-content;
        max-width: 100%;
        overflow-x: auto;
    }

    pre code {
        border: none;
        background: none;
        padding: 0;
    }

    kbd {
        border: 1px solid;
        padding-block-end: 0.1em;
    }

    var {
        font-style: normal;
        font-weight: var(--font-weight-3);
    }

    q {
        font-style: italic;
    }

    ul:not([class]) {
        padding-inline-start: 1.7ch;
        list-style-type: disc;
    }

    ul:not([class]) > li {
        padding-inline-start: var(--size-1);
    }

    :is(ol, ul):not([class]) li + * {
        margin-block-start: var(--flow-space, var(--size-1));
    }

    ul ::marker {
        font-size: 0.8lh;
    }

    ol ::marker {
        font-size: 1em;
        font-weight: var(--font-weight-5);
    }

    /* Lists with classes and roles will be out of standard flow, so remove the default spacing */
    [role="list"][class],
    [role="tablist"][class] {
        margin-block: 0;
        padding: 0;
    }

    dt {
        font-weight: var(--font-weight-3);
    }

    dt + dd {
        margin-block-start: var(--size-1);
    }

    dd + dt {
        margin-block-start: var(--size-1);
    }

    dd {
        margin-inline-start: 1.5ch;
    }

    blockquote {
        margin-inline: 0;
        opacity: 0.9; font-size: 0.9rem;
    }

    blockquote footer {
        margin-block-start: var(--size-1);
        font-size: var(--font-size-2);
    }

    blockquote q {
        font-style: normal;
    }

    :is(video, iframe[src*="youtube"], iframe[src*="vimeo"]) {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    img {
        height: auto;
        max-width: 100%;
        display: block;
    }

    figcaption {
        padding-block-start: 0.5em;
        font-size: var(--font-size-2);
        font-family: monospace;
    }

    table {
        border: var(--border);
        border-collapse: collapse;
        width: 100%;
    }

    th {
        text-align: left;
        font-weight: var(--font-weight-5);
        line-height: var(--font-lineheight-3);
    }

    thead th {
        padding-block: var(--size-2);
    }

    td,
    th {
        padding: var(--size-0) var(--size-1);
    }

    th:not(:only-of-type) {
        border-block-end: var(--border);
    }

    th:only-of-type {
        border-inline-end: var(--border);
    }

    :is(th, td) ~ :is(th, td) {
        border-inline-start: var(--border);
    }

    tr + tr :is(th, td) {
        border-block-start: var(--border);
    }

    caption {
        caption-side: bottom;
        margin-block-start: var(--size-1);
    }

    a:not([class]):hover {
        text-underline-offset: 0.2lh;
    }

    :is(h1, h2, h3, h4) a:not([class]) {
        text-decoration-thickness: 0.1ex;
        text-underline-offset: 0.2ex;
    }

    :is(h1, h2, h3, h4) a:not([class]):hover {
        text-underline-offset: 0.3ex;
    }

    :focus {
        outline: none;
    }

    :focus-visible {
        outline: 2px solid var(--focus-color, currentColor);
        outline-offset: var(--focus-offset, 0.2lh);
    }

    /* Firefox is the only browser that doesn't outline the whole element unless you make it display: inline-block. That in itself causes multiple flow issues so we can detect it, using its own vendor prefix and reduce focus offset
    */
    @supports (-moz-appearance: none) {
        :root {
            --focus-offset: 0.08em;
        }
    }

    :target {
        scroll-margin-block: 5lh;
    }

    ::selection {
        color: var(--primary);
        background: var(--color-primary-contrast);
    }

    hr {
        border: none;
        border-block-start: var(--border);
        margin-block: var(--flow-space, var(--size-4));
    }

    svg:not([class]) {
        width: auto;
        height: 1lh;
    }

    svg {
        flex-shrink: 0;
    }

    svg[role="img"][width][height] {
        width: revert;
        height: revert;
        background: light-dark(var(--color-1), var(--color-8));
        padding: var(--size-0);
    }

    /* There's a .flow composition, but this prevents forms from having to have that applied where markup is harder to control in certain systems. It still uses the --flow-space variables though to make managing space easier */
    form > * + * {
        margin-top: var(--flow-space, 1rem);
    }

    :is(input, select, textarea) {
        accent-color: var(--color-primary);
    }

    :is(
        input:not([type="checkbox"], [type="radio"], [type="color"]),
        select,
        textarea
    ) {
        padding: 0.5em 0.8em;
        border-radius: var(--radius-s);
        border: var(--stroke-solid);
        background: var(--color-dark-glare);
        color: var(--color-light);
        width: 100%;

        &::placeholder {
            opacity: 0.9;
        }
    }

}

</style>
