<style id="css_4_layout">

@layer css_4_layout.body {
    body {
        --padding-size: var(--size-fluid-0);
        --gap-size: var(--size-fluid-0);
        --border-radius: var(--size-fluid-1);

        position: fixed;
        inset: 0;
        width: 100%;
        height: 100svh;
        overflow: hidden;
        overscroll-behavior: none;
        margin-inline: auto; /* allows for easy centering */
    }
}

@layer css_4_layout.page{
    body {
        background-color: darkcyan;
        display: grid;
        grid-template:
            "header header header" auto
            "nav    main   aside"  1fr
            "nav    footer aside" auto
        / auto   1fr    auto;
    }

    body > header {background-color: aliceblue; grid-area: header;}
    body > nav    {background-color: beige;     grid-area: nav;}
    body > aside  {background-color: plum;      grid-area: aside;}
    body > main   {background-color: salmon;    grid-area: main;}
    body > footer {background-color: seagreen;  grid-area: footer};
}


@layer css_4_layout.drawer{ }

</style>
