<style id="css_7_utilities">

@layer css_7_utilities {
    /* single purpose helper classes */
    :where(.round){aspect-ratio:1;border-radius:1000000000px;overflow:clip}
    :where(.truncate) { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
    :where(.visually-hidden, .sr-only) { block-size: 0; inline-size: 0; overflow: hidden; }
    :where(.square) { aspect-ratio: 1; }
    :where(.snap-stop) { scroll-snap-stop: always; }
    :where(.gradient-text) { background: linear-gradient( to right in oklch,  oklch(70% 80% 240) 0%,  oklch(70% 80% 200) 100% ); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; color: transparent; }
    :where(.muted) { opacity: 0.8; font-size: 0.9rem; }


}

</style>
