

<main id="main">
    <header class="--split">
        <div class="avatar rounded">
            <img src="vendor/rocket.avif">
            <h2>DataStar</h2>
        </div>

        <div>
            <nav class="tabs underlined">
                <div role="tablist" aria-label="Underlined tabs">
                    <button id="tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="false" tabindex="0" data-on-click="@get('partials/ds/data')">
                        data-*
                    </button>
                    <button id="tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="0" data-on-click="@get('partials/ds/patching')">
                        Patching
                    </button>
                    <button id="tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="0" data-on-click="@get('partials/ds/patching')">
                        Signals
                    </button>
                </div>
            </nav>
        </div>
    </header>


    <nav>
        <ul>
            <li>
                <a>data-attr</a>
            </li>
            <li>
                <a>data-bind</a>
            </li>
            <li>
                <a>data-class</a>
            </li>
        </ul>
    </nav>

    <main id="main-main">
        <article>
            <button data-on-click="@get('/endpoint')">
                Open the pod bay doors, HAL.
            </button>
            <div id="hal"></div>
        </article>
        <article>
            <button data-on-click="alert('I’m sorry, Dave. I’m afraid I can’t do that.')">
                Open the pod bay doors, HAL.
            </button>
        </article>
    </main>

    <footer class="--flank:end">
          <div></div>
          <div>
              <small>https://github.com/Deufel/css/datastar</small>
          </div>
    </footer>

</main>

<nav>
    <!-- Todo rebuild nav bar is you want to.. >
</nav>
