

<main id="main">
    <header>
        <img src="vendor/rocket.avif">
        <h2>DataStar</h2>
    </header>

    <nav>
        <ul>
            <li>
                <a>data-attr</a>
                <a>data-bind</a>
                <a>data-class</a>
            </li>
        </ul>
    </nav>



    <footer class="layout">
        <div class="end-end">
            <small>https://github.com/Deufel/css/datastar</small>
        </div>
    </footer>

</main>

<nav>
    <!-- Todo rebuild nav bar is you want to.. >
</nav>
