

< id="main">
    <header class="--flank">
        <div class="avatar rounded">
            <img src="vendor/rocket.avif">
        </div>
        <h2>DataStar</h2>
    </header>

    <nav>
        <ul>
            <li>
                <a>data-attr</a>
            </li>
            <li>
                <a>data-bind</a>
            </li>
            <li>
                <a>data-class</a>
            </li>
        </ul>
    </nav>

    <main>
        <article>
            <button data-on-click="@get('/endpoint')">
                Open the pod bay doors, HAL.
            </button>
            <div id="hal"></div>
        </article>
        <article>
            <button data-on-click="alert('I’m sorry, Dave. I’m afraid I can’t do that.')">
                Open the pod bay doors, HAL.
            </button>
        </article>


    </main>

    <footer class="--flank:end">
          <div></div>
          <div>
              <small>https://github.com/Deufel/css/datastar</small>
          </div>
    </footer>

</main>

<nav>
    <!-- Todo rebuild nav bar is you want to.. >
</nav>
