<main id="header-main">
    <h3>DataStar UNDER CONSTRUCTION</h3>
</main>

<footer id="header-footer"> </footer>

<main id="main">
    <header class="--split">
        <div class="avatar rounded">
            <img src="vendor/rocket.avif">
        </div>

        <div>
            <nav class="tabs underlined">
                <div role="tablist" aria-label="Underlined tabs">
                    <button id="tab-1" role="tab" aria-controls="tabpanel-1" aria-selected="false" tabindex="0" data-on-click="@get('partials/ds/data')">
                        data-*
                    </button>
                    <button id="tab-2" role="tab" aria-controls="tabpanel-2" aria-selected="false" tabindex="0" data-on-click="@get('partials/ds/patching')">
                        Patching
                    </button>
                    <button id="tab-3" role="tab" aria-controls="tabpanel-3" aria-selected="false" tabindex="0" data-on-click="@get('partials/ds/patching')">
                        Signals
                    </button>
                </div>
            </nav>
        </div>
    </header>


    <nav>
        <button class="button elevated"
            data-on-click="alert('I’m sorry, Dave. I’m afraid I can’t do that.')">
            Open the pod bay doors, HAL.
        </button>
    </nav>

    <footer class="--flank:end">
          <div></div>
          <div>
              <small>https://github.com/Deufel/css/datastar</small>
          </div>
    </footer>

</main>

<main id="footer-main">
    <code-viewer
        src="partials/ds/main.html"
        filename="partials/ds/main.html"
        height="60svh">
    </code-viewer>
</main>
