
<header id="main-header">
    <h3>Random TIL</h3>
    <small>September 18, 2025</small>
    <span class="chip outlined small">unix</span>
    <span class="chip outlined small">til</span>
    <hr>
</header>

<main id="main-main" class="padding">
    <section>
        <h4>lsof</h4>
        <p><strong>lsof</strong> is a open source utility developed and supported by Victor A. Abell; a retired Associate Director or the Putdue University Computing Center.</p>
        <p>The command stands for "list open files"</p>
        <pre style="margin: 0;" class="--center-hor"><code class="hljs">lsof -i -P -n|grep LISTEN<code></pre>
        <small>^ To see running ports</small>
        <pre style="margin: 0;" class="--center-hor"><code class="hljs">kill -9 &ltid&gt</id><code></pre>
    </section>
    <div class="sr-only" data-effect="hljs.highlightAll();"></div>
</main>
