<main id="header-main">
    <h3>Blog</h3>
</main>

<main id="main">
    <main id="main-main">
        <h3>Blog</h3>
    </main>

    <div class="card outlined">
      <hgroup>
        <p>code</p>
        <h2 class="h3">Python Import Mechanics</h2>
        <p>September 16, 2025</p>
      </hgroup>
      <div class="content">
        Reexploring python imports and why import * does not work in marimo notebooks.
      </div>
      <div class="actions">
        <button class="button">Share</button>
        <button class="button">Read</button>
      </div>
    </div>


    <div class="card outlined">
      <hgroup>
        <p>Overline</p>
        <h2 class="h3">Headline</h2>
        <p>Subhead</p>
      </hgroup>
      <div class="content">
        Explain more about the topic shown in the headline and subhead through
        supporting text.
      </div>
      <div class="actions">
        <button class="button">Share</button>
        <button class="button">Learn more</button>
      </div>
    </div>


   <footer id="main-footer">
       <small>github.com/deufel/blog</small>
   </footer>
</main>
