<main id="header-main">
    <h3>TIL</h3>
</main>

<main id="main">
    <header id="main-header" class="--split">
        <div> <h3> Mike's TIL Blog </h3></div>
    </header>

   <nav    id="main-nav">
      <ul>
          <li>
              <strong> September 2025</strong>
          </li>
          <li>
              <a data-on-click="@get('partials/blog/sep_16_2025')">Day 16</a>
          </li>

          <hr>

          <li>
              <strong>October 2025</strong>
          </li>
          <li>
              <a data-on-click="@get('partials/blog/sep_16_2025')">##</a>
          </li>
      </ul>
   </nav>

   <main  class="card outlined" id="main-main" >
       <h4> How it works: </h4>
       <p> TIL to organise my thoughts, hosten on github becasue its free and helps me learn a bit about how datastar works</p>
   </main>

   <aside  id="main-aside"> </aside>

   <footer id="main-footer" class="--split">
       <div></div>
       <small>github.com/deufel/blog</small>
   </footer>

</main>
