<main id="main-main" class="padding">
    <hgroup>
        <h3>Python Import Mechanics</h3>
        <small>September 16, 2025</small>
    </hgroup>

    <hr>

    <section>
        <h4>Basic Import Types</h4>
        <ul>
            <li>
                <p>Direct Import</p>
                <code>import os</code>
                <p>Usage:
                    <code>os.path.join()</code>
                </p>
            </li>
            <li>
                <p>From Import</p>
                <code>from os import path</code>
                <p>Usage:
                    <code>path.join()</code>
                </p>
            </li>
            <li>
                <p>Star Import</p>
                <code>from os import *</code>
                <p>Usage:
                    <code>join()</code>
                </p>
                <small><em>note:</em>will import all mothods or methods in the __all__</small>
            </li>
        </ul>
    </section>

    <section>
        <h4>Barrel Export</h4>
        <em>aka a "re-export module"</em>
        <p>Some packages have a module that is soley for importing other modules</p>
        <code>from fastcore.all import *</code>
    </section>
</main>
