<main id="header-main"> </main>
<footer id="header-footer"> </footer>


<main id="main-main">
    <div role="group" id="device-toggle" class="toggle-button-group small fullwidth me__9">
        <button onclick="selectDevice('mobile', this)">
            <icon-smartphone>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-smartphone-icon lucide-smartphone"><rect width="14" height="20" x="5" y="2" rx="2" ry="2"></rect><path d="M12 18h.01"></path></svg>
            </icon-smartphone>
            Mobile
        </button>
        <button onclick="selectDevice('tablet', this)">
            <icon-tablet>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tablet-icon lucide-tablet"><rect width="16" height="20" x="4" y="2" rx="2" ry="2"></rect><line x1="12" x2="12.01" y1="18" y2="18"></line></svg>
            </icon-tablet>
            Tablet
        </button>

        <button onclick="selectDevice('desktop', this)" class="selected">
            <icon-laptop>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-laptop-icon lucide-laptop"><path d="M18 5a2 2 0 0 1 2 2v8.526a2 2 0 0 0 .212.897l1.068 2.127a1 1 0 0 1-.9 1.45H3.62a1 1 0 0 1-.9-1.45l1.068-2.127A2 2 0 0 0 4 15.526V7a2 2 0 0 1 2-2z"></path><path d="M20.054 15.987H3.946"></path></svg>
            </icon-laptop>
            Desktop
        </button>
    </div>
</main>

<footer id="footer" popover="auto">
    <code-viewer
        src="partials/button/toggle-button"
        filename="toggle-button.html"
        height="60svh">
    </code-viewer>
</footer>
